<template>
  <div
    class="magic-letters"
    ref="elem"
    :style="{
      marginRight: `-${marginRight}px`,
    }"
  >
    <div
      class="magic-letters__word"
      v-for="(word, wordIndex) in words"
      :key="wordIndex"
    >
      <div
        class="magic-letters__letter"
        v-for="(letter, letterIndex) in word.split('')"
        :key="letterIndex"
        :style="animationDelay(wordIndex, letterIndex)"
      >{{ letter }}</div>
      {{ wordIndex === words.length - 1 ? '' : '&nbsp;' }}
    </div>
  </div>
</template>

<script>
  export default {
    name: 'MagicLetters',
    props: {
      text: {
        type: String,
        default: '',
        required: true,
      },
      initialDelay: {
        type: Number,
        default: 0,
        required: false,
      },
      wordDelay: {
        type: Number,
        default: 50,
        required: false,
      },
      animationDuration: {
        type: Number,
        default: 50,
        required: false,
      },
    },
    mounted() {
      const letterHeight = this.$refs.elem.clientHeight || this.$refs.elem.offsetHeight;
      this.marginRight = letterHeight / 5;
    },
    data() {
      const words = this.text.split(' ');
      return {
        words,
        animatePerWord: words.length > 10,
        marginRight: 0,
      };
    },
    methods: {
      animationDelay(wordIndex, letterIndex) {
        let delay = this.initialDelay;

        // Add the between word delays for all past words
        let previousWordsDelay = wordIndex * this.wordDelay;

        // Add the letter delays for all past words
        if (!this.animatePerWord) {
          this.words.forEach((word, index) => {
            if (index < wordIndex) {
              previousWordsDelay += word.split('').length * this.animationDuration;
            }
          });
        }
        delay += previousWordsDelay;
        if (!this.animatePerWord) {
          delay += letterIndex * this.animationDuration;
        }
        return {
          animationDelay: `${delay}ms`,
        };
      },
    },
  };
</script>

<style lang="scss">
  .magic-letters {

    &__word {
      display: inline-flex;
      overflow-x: visible;
      overflow-y: hidden;
      white-space: nowrap;
    }
    &__letter {
      animation: from-above 300ms ease-out forwards;
      display: inline-block;
      opacity: 0;
      position: relative;
      transform: translate3d(0, -100%, 0);
    }
  }
  @keyframes from-above {
    0% {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    60% {
      opacity: 0.6;
      transform: translate3d(0, 0, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
</style>
