<template>
  <div class="app">
    <header>
      <div class="inner">
        <router-link to="/">
          <img src="./assets/logo.svg" alt="Mega Berlin 👯‍♀️">
        </router-link>
        <div class="contact">Contact</div>
      </div>
    </header>
    <main>
      <router-view/>
    </main>
  </div>
</template>

<script>
  export default {
    name: 'App',
  }
</script>

<style lang="scss">
  @import 'fonts.scss';
  @import 'variables.scss';

  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: 0;
  }
  html,
  body {
    background-color: $white;
    color: $black;
    font-family: $regularFont;
    font-size: 18px;
    height: 100%;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .app {
    height: 100%;
    width: 100%;
  }
  header {
    background-color: $white;
    border-bottom: 1px solid $black;
    height: $headerHeight;
    position: relative;
    width: 100%;
    z-index: 4000;

    .inner {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: space-between;
      margin: 0 auto;
      max-width: $contentWidth;
      padding: 0 $horizontalPadding;

      @include mobile() {
        padding: 0 $horizontalPaddingMobile;
      }
      .contact {
        cursor: pointer;
        font-size: 20px;
        letter-spacing: 0;
        transition: color $shortTransition ease-in-out;

        &:hover {
          color: rgba($black, 0.5);
        }
      }
    }
  }
  main {
    height: calc(100vh - #{$headerHeight});
    margin: 0 auto;
    max-width: $contentWidth;
    width: 100%;
  }
</style>
