<template>
  <div
    v-if="building"
    class="building"
  >

    <div class="building__left">
      <div class="building__left__top">
        <router-link
          to="/map"
          class="building__left__back"
        />
        <div class="building__left__name">{{ building.name }}</div>
      </div>
      <div class="building__left__detail">
        <div class="building__left__detail__address">
          <div class="building__left__detail__info__label">Address</div>
          <div class="building__left__detail__info__value">
            <a
              :href="googleMapsLink(building.address)"
              class="building__left__detail__address__link"
              target="_blank"
            >{{ building.address }}</a>
          </div>
        </div>
        <div class="building__left__detail__info">
          <div class="building__left__detail__info__built">
            <div class="building__left__detail__info__label">Built in</div>
            <div class="building__left__detail__info__value">{{ building.built }}</div>
          </div>
          <div class="building__left__detail__info__architect">
            <div class="building__left__detail__info__label">Architect</div>
            <div class="building__left__detail__info__value">{{ building.architect }}</div>
          </div>
        </div>
        <div class="building__left__detail__story">{{ building.story }}</div>
        <div class="building__left__detail__image">
          <img
          :src="`/static/pictures/${building.pictures[0]}`"
          :alt="building.name"
          >
        </div>
      </div>
    </div>

    <div class="building__right">
      <div
        class="building__right__info-button"
        @click="toggleInfoForMobile"
      >
        <img src="./assets/icon-share.svg">
      </div>
      <div class="building__right__pagination">
        <router-link
          :to="{ name: 'building', params: { slug: previousBuildingLink } }"
          class="building__right__pagination__link"
        >Previous</router-link>
        <router-link
          :to="{ name: 'building', params: { slug: nextBuildingLink } }"
          class="building__right__pagination__link"
        >Next</router-link>
      </div>
      <div
        class="building__right__3d"
        @mousedown="stopAutoRotate"
        @mouseup="restartAutoRotate"
      >
        <div id="three-js-canvas" />
      </div>
      <div
        class="building__right__stats-wrapper"
        :class="{
          show: showInfoForMobile,
        }"
      >
        <div class="building__right__stats">
          <div class="building__right__stats__stat">
            <img src="./assets/icon-have-been.svg"> 323 have been
          </div>
          <div class="building__right__stats__stat">
            <img src="./assets/icon-like-it.svg"> 21 like it
          </div>
          <div class="building__right__stats__stat">
            <img src="./assets/icon-share.svg"> share
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    name: 'Building',
    data() {
      return {
        autoRotateTimeout: 0,
        building: null,
        lightDistance: 400,
        modelHeight: 400,
        modelWidth: 400,
        restartAutoRotateDelay: 5000,
        showInfoForMobile: false,
        threeJsCanvas: null,
        titlePrefix: 'MegaBerlin',
      };
    },
    created() {
      document.documentElement.style.setProperty(`--modelHeight`, `${this.modelHeight}px`);
      document.documentElement.style.setProperty(`--modelWidth`, `${this.modelWidth}px`);
    },
    mounted() {
      this.loadBuilding();
    },
    methods: {
      stopAutoRotate() {
        clearTimeout(this.autoRotateTimeout);
        window.controls.autoRotate = false;
      },
      restartAutoRotate() {
        clearTimeout(this.autoRotateTimeout);
        this.autoRotateTimeout = setTimeout(() => {
          window.controls.autoRotate = true;
        }, this.restartAutoRotateDelay);
      },
      googleMapsLink(address) {
        return `https://www.google.com/maps?q=${encodeURI(address)}`;
      },
      loadBuilding() {
        const slug = this.$route.params.slug;
        if (this.buildings[slug] && this.building !== this.buildings[slug]) {
          this.building = this.buildings[slug];

          setTimeout(() => {
            this.threeJsCanvas = document.getElementById('three-js-canvas');
            document.title = `${this.titlePrefix}: ${this.building.name}`;
            this.threeJsCanvas.innerHTML = '';
            this.loadBuildingFile(`/static/models/${slug}.fbx`);
          }, 0);
        } else {
          this.building = null;
        }
      },
      loadBuildingFile(buildingFile) {
        window.scene = new THREE.Scene();

        // Camera
        window.camera = new THREE.PerspectiveCamera(72, this.modelWidth / this.modelHeight, 1, 4000);
        window.camera.position.set(0, 1000, 2200);

        // Renderer
        window.renderer = new THREE.WebGLRenderer({
          alpha: true,
          antialias: true,
        });
        window.renderer.shadowMap.enabled = true;
        this.threeJsCanvas.appendChild(window.renderer.domElement);

        // Camera controls
        window.controls = new THREE.OrbitControls(window.camera, window.renderer.domElement);
        window.controls.target = new THREE.Vector3(0, 800, 0);
        window.controls.enableZoom = false;
        window.controls.enablePan = false;
        window.controls.enableKeys = false;
        window.controls.autoRotate = true;
        window.controls.autoRotateSpeed = 0.015;
        window.controls.enableDamping = true;
      	window.controls.dampingFactor = 0.1;
        window.controls.rotateSpeed = 0.1;
  			window.controls.update();

        // Load object
        const loader = new THREE.FBXLoader();
        loader.load(buildingFile, object => {
          object.traverse((child) => {
            if (child.isMesh) {
              child.castShadow = true;
              child.receiveShadow = true;
            }
          });
          object.position.y = 200;
          window.scene.add(object);
        });

        // Ground
        const groundGeometry = new THREE.CircleBufferGeometry(1100, 100);
        const groundEdges = new THREE.EdgesGeometry(groundGeometry);
        const ground = new THREE.LineSegments(groundEdges, new THREE.LineBasicMaterial({
          color: 0x000000,
          opacity: 0.2,
          transparent: true,
        }));
        ground.rotation.x = THREE.Math.degToRad(-90);
        ground.position.y = 75;
        window.scene.add(ground);

        // Lights
        const ambient = new THREE.AmbientLight(0xffffff, 0.4);
        window.scene.add(ambient);
        const hemisphere = new THREE.HemisphereLight(0xffffff, 0xffffff, 0.7);
        window.scene.add(hemisphere);

        // Set canvas size
        window.renderer.setPixelRatio(window.devicePixelRatio);
        window.renderer.setSize(this.modelWidth, this.modelHeight);

        this.animate();
      },
      animate() {
        window.controls.update();
        requestAnimationFrame(this.animate);
        window.renderer.render(window.scene, window.camera);
      },
      toggleInfoForMobile() {
        this.showInfoForMobile = !this.showInfoForMobile;
      },
    },
    computed: {
      previousBuildingLink() {
        const slug = this.$route.params.slug;
        const buildingKeys = Object.keys(this.buildings);
        let previousIndex = -1;
        buildingKeys.forEach((buildingId, index) => {
          if (buildingId === slug) {
            previousIndex = index - 1;
          }
        });
        if (previousIndex < 0) {
          previousIndex = buildingKeys.length - 1;
        }
        return buildingKeys[previousIndex];
      },
      nextBuildingLink() {
        const slug = this.$route.params.slug;
        const buildingKeys = Object.keys(this.buildings);
        let nextIndex = -1;
        buildingKeys.forEach((buildingId, index) => {
          if (buildingId === slug) {
            nextIndex = index + 1;
          }
        });
        if (nextIndex >= buildingKeys.length) {
          nextIndex = 0;
        }
        return buildingKeys[nextIndex];
      },
      buildings() {
        return this.$store.state.buildings;
      },
    },
    watch: {
      $route() {
        this.loadBuilding();
      },
    },
  };
</script>

<style lang="scss" scoped>
  @import 'variables.scss';

  $sideBit: 120px;
  $leftWidth: 60%;
  $rightWidth: 40%;

  .building {
    display: flex;
    height: calc(100vh - #{$headerHeight});
    overflow-y: auto;

    @include mobile() {
      display: block;
      height: auto;
    }
    &__left {
      position: relative;
      width: $leftWidth;

      @include mobile() {
        margin-left: 0;
        width: 100%;
      }
      @include largeScreen() {
        max-width: $contentWidth * 0.41667;
      }
      &__top {
        background-color: $white;
        border-bottom: 1px solid $black;
        display: flex;
        height: $subHeaderHeight;
        position: fixed;
        top: $headerHeight;
        width: $leftWidth;
        z-index: 200;

        @include mobile() {
          padding-left: $horizontalPaddingMobile;
          padding-right: 50px;
          position: relative;
          text-align: center;
          top: 0;
          width: 100%;
        }
        @include largeScreen() {
          max-width: $contentWidth * 0.46;
        }
      }
      &__back {
        background-image: url(assets/icon-back.svg);
        background-position: 30px 22px;
        background-repeat: no-repeat;
        height: $subHeaderHeight;
        width: $sideBit;
      }
      &__name {
        font-family: $heavyFont;
        font-size: 30px;
        line-height: $subHeaderHeight;

        @include mobile() {
          font-size: 20px;
        }
      }
      &__detail {
        color: rgba($black, 0.8);
        font-size: 16px;
        padding: $subHeaderHeight 0 $horizontalPadding $sideBit;

        @include mobile() {
          padding: 300px 0 $horizontalPaddingMobile $horizontalPaddingMobile;
        }
        &__address {
          padding-top: 40px;

          &__link {
            color: $black;
            font-size: 20px;
            transition: color $shortTransition ease-in-out;

            @include mobile() {
              font-size: 15px;
            }
            &:hover {
              color: rgba($black, 0.5);
            }
          }
        }
        &__info {
          color: rgba($black, 0.8);
          display: flex;
          padding: 40px 0;

          @include mobile() {
            display: block;
            padding: 20px 0;
          }
          &__built {
            margin-right: 50px;
          }
          &__label {
            font-family: $blackFont;
            font-size: 12px;
            letter-spacing: 2px;
            text-transform: uppercase;
          }
          &__value {
            font-size: 18px;

            @include mobile() {
              margin-bottom: 20px;
            }
          }
        }
        &__story {
          padding-bottom: 40px;
        }
        &__image {
          padding-right: 50px;

          img {
            width: 100%;
          }
        }
      }
    }
    &__right {
      height: 100%;
      left: $leftWidth;
      position: fixed;
      width: $rightWidth;

      @include mobile() {
        position: inherit;
        width: 100%;
      }
      @include largeScreen() {
        left: calc(#{$contentWidth} * 0.71 + (100vw - #{$contentWidth}) / 2);
        max-width: $contentWidth * 0.29;
        border-right: 1px solid $black;
      }
      &__info-button {
        cursor: pointer;
        display: none;
        padding: 20px;
        position: absolute;
        right: 0;
        top: $headerHeight + $subHeaderHeight;
        z-index: 400;

        @include mobile() {
          display: block;
        }
      }
      &__pagination {
        align-items: center;
        background-color: $white;
        border-bottom: 1px solid $black;
        display: flex;
        height: $subHeaderHeight;
        justify-content: space-between;
        line-height: $subHeaderHeight;
        padding-right: 80px;
        position: absolute;
        text-align: right;
        top: 0;
        width: 100%;
        z-index: 200;

        @include mobile() {
          padding-right: $horizontalPaddingMobile;
          right: 0;
          top: $headerHeight;
          width: 25%;
        }
        @include largeScreen() {
          max-width: $contentWidth * 0.29;
        }
        &__link {
          background-image: url(./assets/icon-next.svg);
          background-position: right 42%;
          background-repeat: no-repeat;
          color: $black;
          font-size: 20px;
          line-height: $subHeaderHeight;
          padding-right: 40px;
          text-decoration: none;
          transition: color $shortTransition ease-in-out;

          @include mobile() {
            font-size: 15px;
          }
          &:first-child {
            background-image: url(./assets/icon-back.svg);
            background-position: left 42%;
            padding: 0 0 0 40px;
          }
          &:hover {
            color: rgba($black, 0.5);
          }
        }
      }
      &__3d {
        cursor: grab;
        display: flex;
        justify-content: center;
        padding: 0 $horizontalPadding;
        position: absolute;
        top: $subHeaderHeight;
        width: 100%;
        z-index: 200;

        @include mobile() {
          padding: 0 $horizontalPaddingMobile;
          position: absolute;
          top: $headerHeight + $subHeaderHeight;
          width: 100%;
        }
        @include largeScreen() {
          max-width: $contentWidth * 0.29;
        }
        #three-js-canvas {
          height: var(--modelHeight);
          position: relative;
          width: var(--modelWidth);
          z-index: 100;

          &:before,
          &:after {
            background-color: $white;
            border: 1px solid rgba($black, 0.2);
            content: '';
            border-radius: 50%;
            height: 14px;
            left: 205px;
            position: absolute;
            top: 385px;
            width: 14px;
          }
          &:after {
            animation: pulse 1.5s ease-in-out infinite;
          }
        }
      }
      &__stats-wrapper {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 450px;
        width: 100%;
        z-index: 300;

        @include mobile() {
          background-color: $white;
          border-bottom: 1px solid $black;
          bottom: auto;
          opacity: 0;
          padding: 0 0 $horizontalPaddingMobile $horizontalPaddingMobile;
          pointer-events: none;
          position: absolute;
          right: 0;
          top: $headerHeight + $subHeaderHeight;
          transition: opacity $shortTransition ease-in-out;
          width: 100%;
        }
        &.show {
          opacity: 1;
          pointer-events: auto;
        }
      }
      &__stats {
        padding: 0 50px;
        width: 240px;

        @include mobile() {
          padding: 0;
          width: 100%;
        }
        &__stat {
          align-items: center;
          background-position: left bottom;
          background-repeat: no-repeat;
          display: flex;
          font-size: 16px;
          padding-top: 20px;

          @include mobile() {
            display: inline-flex;
            font-size: 14px;
            margin-right: 25px;
          }
          img {
            margin-right: 15px;
          }
        }
      }
    }
  }
  @keyframes pulse {
    0% {
      opacity: 0.5;
      transform: scale(1);
    }
    70% {
      opacity: 0;
      transform: scale(3);
    }
    100% {
      opacity: 0;
      transform: scale(3);
    }
  }
</style>
