@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap');
@font-face {
  font-family: 'Avenir Roman';
  src: url('./fonts/Avenir-Roman.ttf') format('truetype');
}
@font-face {
  font-family: 'Avenir Black';
  src: url('./fonts/Avenir-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Avenir Heavy';
  src: url('./fonts/Avenir-Heavy.ttf') format('truetype');
}
