<template>
  <div class="home">
    <div class="home__left">
      <div class="home__left__city">
        <div class="home__left__city__name">Berlin</div>
        <div class="home__left__city__block">
          <div class="home__left__city__label">Area</div>
          <div class="home__left__city__value">891.1 km²</div>
        </div>
        <div class="home__left__city__block">
          <div class="home__left__city__label">Population</div>
          <div class="home__left__city__value">3,748,148</div>
        </div>
      </div>
    </div>
    <div class="home__right">
      <router-link
        to="/map/"
        class="home__right__title"
      >
        Ugly<br>
        Architecture
        <object
          type="image/svg+xml"
          data="static/scribbles.svg"
          class="scribbles"
        />
        <div class="number-sign">
          <div class="number-sign__wrapper">
            <div class="number-sign__mover">
              <div>0</div>
              <div
                v-for="index in buildingsCount"
                :key="index"
              >{{ index }}</div>
            </div>
          </div>
        </div>
      </router-link>
      <div class="home__right__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ipsum aut autem consectetur corrupti animi inventore, ipsam voluptatibus quo, dicta nulla quae aliquid velit. Neque porro autem recusandae esse nisi.</div>
    </div>
    <div class="home__effect"></div>
  </div>
</template>

<script>
  export default {
    name: 'Home',
    computed: {
      buildingsCount() {
        return Object.keys(this.$store.state.buildings).length || 0;
      },
    },
  };
</script>

<style lang="scss">
  @import 'variables.scss';

  .home {
    display: flex;
    height: calc(100vh - #{$headerHeight});
    overflow-y: auto;

    @include mobile() {
      display: block;
    }
    &__left {
      align-items: center;
      border-right: 1px solid $black;
      display: flex;
      height: 100%;
      max-width: 33.34%;
      min-width: 33.34%;

      @include mobile() {
        border-bottom: 1px solid $black;
        height: 260px;
        max-width: 100%;
        min-width: 100%;
      }
      &__city {
        padding-left: 100px;

        @include mobile() {
          padding-left: $horizontalPadding;
        }
        &__name {
          color: $black;
          font-size: 100px;
          margin-bottom: 20px;
          margin-left: -8px;

          @include mobile() {
            font-size: 60px;
          }
        }
        &__block {
          @include mobile() {
            display: inline-block;
            margin-right: 30px;
          }
        }
        &__label {
          color: rgba($black, 0.8);
          font-family: $blackFont;
          font-size: 12px;
          letter-spacing: 2px;
          margin-bottom: 5px;
          text-transform: uppercase;
        }
        &__value {
          color: rgba($black, 0.8);
          font-size: 18px;
          margin-bottom: 25px;
        }
      }
    }
    &__right {
      height: 100%;
      padding-left: 8.34%;
      padding-right: 16.67%;
      max-width: 66.67%;
      min-width: 66.67%;

      @include mobile() {
        height: calc(100vh - #{$headerHeight} - 260px);
        max-width: 100%;
        min-width: 100%;
        padding: 0 $horizontalPadding;
      }
      &__title {
        color: $black;
        cursor: pointer;
        display: block;
        font-size: 100px;
        line-height: 1.4;
        margin: 20vh 0 20px 0;
        position: relative;
        text-decoration: none;
        width: 100%;

        @include mobile() {
          font-size: 50px;
          margin: 60px 0 30px 0;
        }
        &:hover {
          color: rgba($black, 0.7);
        }
        .scribbles {
          height: 120px;
          left: -20px;
          pointer-events: none;
          position: absolute;
          top: 25px;
          user-select: none;
          width: 220px;

          @include mobile() {
            height: 60px;
            left: -10px;
            top: 10px;
            width: 110px;
          }
        }
        .number-sign {
          background-image: url(./assets/number-sign.svg);
          background-repeat: no-repeat;
          background-size: 100%;
          height: 75px;
          padding: 5px 0;
          pointer-events: none;
          position: absolute;
          right: -100px;
          top: 50px;
          user-select: none;
          width: 91px;

          @include mobile() {
            height: 62px;
            right: 0;
            top: -30px;
            width: 75px;
          }
          &__wrapper {
            height: 65px;
            position: relative;
            overflow: hidden;
            width: 100%;

            @include mobile() {
              height: 50px;
            }
          }
          &__mover {
            animation: move-number 1s 500ms ease-in-out forwards;
            color: $black;
            font-family: $fancyFont;
            font-size: 48px;
            line-height: 55px;
            position: relative;
            text-align: center;
            top: -5px;

            @include mobile() {
              animation-name: move-number-mobile;
              font-size: 36px;
              line-height: 50px;
            }
          }
        }
      }
      &__intro {
        color: rgba($black, 0.8);
        font-size: 18px;

        @include mobile() {
          font-size: 14px;
        }
      }
    }
    &__effect {}
  }
  @keyframes move-number {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, calc(-100% + 55px), 0);
    }
  }
  @keyframes move-number-mobile {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, calc(-100% + 50px), 0);
    }
  }
</style>
