<template>
  <div
    class="map"
    :class="{
      'show-map': showMap,
    }"
  >

    <div class="buildings">
      <router-link
        v-for="(building, slug, index) in buildings"
        :key="slug"
        :to="{ name: 'building', params: { slug } }"
        class="building"
        :id="`list-building-${slug}`"
        @mouseover.native="buildingMouseOver(slug)"
        @mouseleave.native="buildingMouseLeave"
      >
        <div
          class="building__image"
          :style="{
            backgroundImage: `url(/static/models/${slug}_preview.png)`,
          }"
        />
        <div class="building__name">{{ building.name }}</div>
      </router-link>
    </div>

    <div
      class="open-map"
      :class="{
        show: !showMap,
      }"
      @click="showMap = true"
    >Map</div>
    <div
      class="close-map"
      :class="{
        show: showMap,
      }"
      @click="showMap = false"
    ></div>

    <div id="map" />

  </div>
</template>

<script>
  export default {
    name: 'Map',
    data() {
      return {
        map: null,
        showMap: false,
      };
    },
    mounted() {
      this.createMap();
      document.title = 'MegaBerlin';
    },
    methods: {
      createMap() {
        mapboxgl.accessToken = 'pk.eyJ1IjoibWVnYWJlcmxpbiIsImEiOiJjamlyNnBtZnQxMzRrM3F0OWpvOW50Y2Z0In0.D3zVlm1x-tbQqvLvm94gkA';
        this.map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/megaberlin/cjyt4ii3015ov1cph71vpu4no',
          center: [13.405, 52.52],
          pitch: 70,
          bearing: -35,
          zoom: 12,
          minZoom: 12,
          maxZoom: 12,
        });
        this.map.addControl(new mapboxgl.GeolocateControl({
          positionOptions: {
            enableHighAccuracy: true,
          },
          trackUserLocation: true,
        }));
        this.map.on('load', this.addMarkersToMap);
      },
      buildingMouseOver(slug) {
        const hovered = document.querySelector('.hovered');
        const current = document.getElementById(`hover-marker-${slug}`);
        if (hovered && hovered !== current) hovered.classList.remove('hovered');
        current.classList.add('hovered');
      },
      buildingMouseLeave() {
        document.querySelector('.hovered').classList.remove('hovered');
      },
      addMarkersToMap() {
        Object.keys(this.buildings).forEach(slug => {
  				const building = this.buildings[slug];
          const popupWrapper = document.createElement('div');
          popupWrapper.className = 'popup';
          const popupName = `<div class="name">${building.name}</div>`;
          popupWrapper.innerHTML = `<div class="line">${popupName}</div>`;

          const hoverMarker = document.createElement('div');
          hoverMarker.id = `hover-marker-${slug}`;
          hoverMarker.className = 'hover-marker';
          hoverMarker.appendChild(popupWrapper);
          new mapboxgl.Marker(hoverMarker).setLngLat(building.coords).addTo(this.map);

          const marker = document.createElement('div');
          marker.className = 'marker';

          marker.onclick = (e) => {
            this.$router.push({ name: 'building', params: { slug } });
          };
          marker.onmouseover = (e) => {
            const other = document.querySelector('.hovered');
            if (other && other !== hoverMarker) other.classList.remove('hovered');
            hoverMarker.classList.add('hovered');

            document.getElementById(`list-building-${slug}`).classList.add('hovered');
          };
          marker.onmouseout = (e) => {
            hoverMarker.classList.remove('hovered');
            document.querySelector('.hovered').classList.remove('hovered');
          };
          new mapboxgl.Marker(marker).setLngLat(building.coords).addTo(this.map);
  			});
      },
    },
    computed: {
      buildings() {
        return this.$store.state.buildings;
      },
    },
  };
</script>

<style lang="scss">
  @import 'variables.scss';

  .map {
    min-height: calc(100vh - #{$headerHeight});
    overflow-y: auto;
    position: relative;

    .buildings {
      margin: 0 auto;
      padding: 50px 0;
      width: calc(100% - 400px);

      @include mobile() {
        padding: 30px $horizontalPaddingMobile 30px 0;
      }
      .building {
        display: block;
        height: 480px;
        margin-bottom: -30px;
        position: relative;
        text-decoration: none;
        width: 100%;

        @include mobile() {
        }
        &__image {
          background-color: $white;
          background-repeat: no-repeat;
          background-size: cover;
          border: 1px solid $black;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 300px;
          z-index: 200;
        }
        &__name {
          color: $black;
          font-family: $regularFont;
          font-size: 150px;
          left: 260px;
          line-height: 160px;
          position: absolute;
          padding-left: 120px;
          text-indent: -120px;
          top: 36%;
          z-index: 100;
        }
        &:nth-child(even) {
          .building__image {
            left: auto;
            right: 0;
            z-index: 100;
          }
          .building__name {
            left: auto;
            right: 175px;
            z-index: 200;
          }
        }
        &:hover,
        &.hovered {
        }
      }
    }
    .open-map {
      background-image: url(./assets/icon-map.svg);
      background-position: top center;
      background-repeat: no-repeat;
      cursor: pointer;
      font-size: 16px;
      height: 70px;
      opacity: 0;
      padding-top: 40px;
      pointer-events: none;
      position: absolute;
      right: $horizontalPadding;
      text-align: center;
      top: $horizontalPadding;
      transition: opacity $shortTransition ease-in-out;
      user-select: none;
      width: 50px;
      z-index: 300;

      @include mobile() {
        display: none;
      }
      &.show {
        opacity: 1;
        pointer-events: auto;
      }
    }
    .close-map {
      background-color: $black;
      background-image: url(./assets/icon-close.svg);
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      height: 50px;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity $shortTransition ease-in-out;
      user-select: none;
      width: 50px;
      z-index: 300;

      &.show {
        opacity: 1;
        pointer-events: auto;
      }
    }
    #map {
      border-left: 1px solid $black;
      height: calc(100vh - #{$headerHeight});
      position: fixed;
      right: 0;
      top: $headerHeight;
      transition: transform $longTransition ease-in-out;
      transform: translate3d(100%, 0, 0);
      width: 50%;
      z-index: 200;

      .mapboxgl-ctrl-top-right {
        display: none;
      }
      .mapboxgl-ctrl-bottom-left,
      .mapboxgl-ctrl-bottom-right {
        opacity: 0.4;
      }
      .hover-marker {
        height: 50px;
        opacity: 0;
        transition: opacity $shortTransition ease-in-out;
        width: 50px;

        &.hovered {
          opacity: 1;
        }
        .popup {
          left: 50%;
          position: absolute;
          top: 50%;

          .line {
            bottom: 5px;
            border-left: 1px solid $black;
            height: 130px;
            position: absolute;

            .name {
              background-color: $black;
              color: $white;
              font-size: 18px;
              padding: 15px;
              white-space: nowrap;
            }
          }
        }
      }
      .marker {
        background-color: $black;
        border: 2px solid $white;
        border-radius: 50%;
        height: 30px;
        width: 30px;
      }
    }
    &.show-map {
      .buildings {
        padding-right: $horizontalPadding + 25px;
        transition-delay: 0;
        width: 50%;

        .building {
          width: calc(50% - #{$horizontalPadding});
        }
      }
      #map {
        transform: translate3d(0, 0, 0);
      }
    }
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
