// Colors
$black: #000000;
$white: #ffffff;

// Dimensions
$headerHeight: 60px;
$subHeaderHeight: 60px;
$contentWidth: 1440px;
$buildingHeight: 550px;
$storyImageWidth: 450px;
$horizontalPadding: 30px;
$horizontalPaddingMobile: 15px;

// Font weights
$regularFont: 'Avenir Roman';
$blackFont: 'Avenir Black';
$heavyFont: 'Avenir Heavy';
$fancyFont: 'Playfair Display', serif;

// Durations
$shortTransition: 150ms;
$mediumTransition: 300ms;
$longTransition: 600ms;

// Mixins
@mixin mobile() {
  @media (max-width: 640px) { @content; }
}
@mixin largeScreen() {
  @media (min-width: $contentWidth) { @content; }
}
